*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239));
}

.logo {
    padding-top: 10px;
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    max-width: 900px;
    border: 2px solid black;
    border-radius: 13px;
    margin: 23px auto;
    height: 50vh;
    padding: 33px;
    overflow-y: auto;
}

.message {
    background-color: rgb(253, 230, 230);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 985px;
    width: 100%;
    margin: auto;
}

#messageInp{
    outline: none;
    margin-right: 5px;
    padding: 0 10px;
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn{
    outline: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    width: 10%;
    height: 38px;
}